<html>
	<body><!--  onload = "poll()"> -->
		<!-- <div id = 'latest'>
			{{latest}}
		</div> -->
		<form action="/logout">
    		<input type="submit" value="logout"><br>
		</form>
		<h1>MSG</h1>
		<p>
			<input type="text" id="recent_msg" name="msg" ><br>
			<input type="submit" name = "submit" id = "submit" ><br>
		</p>
		<p>
	  		<h2><span style="float: right">RECEIVED</span></h2>
	  		<h2><span style="float: left">SEND</span></h2>
		</p>
		<hr>
		<hr>
		<div id = 'pollmsgs' >
			<ul id = 'send_msgs'>
			{% for items in data %} 
				<li align="left">{{items.msg}}</li>
			{% endfor %}
			</ul>
			<ul id = 'received_msgs'>
			{% for items in dada %} 
				<li align="right">{{items.msg}}</li>
			{% endfor %}
			</ul>
		</div>
		
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
		<script src="/js/main.js"></script>
	</body>
	<script>
		var latest = '{{ latest2 }}'
		var chosen = '{{ chosen }}'
		var token = '{{ token }}'
		var channel_client_id = '{{channel_client_id}}'
	</script>
</html>
