<!-- <html>
	<body>
		<p>welcome {{user}}, The other users are :</p>
		<form id ="chosen_user" >
			{% for items in data %} 
				<input type="radio" name="chosen_user" value="{{items.user}}">{{items.user}}<p></p>
			{% endfor %}
			<input type="submit" value="Submit" id = "submit">
		</form>	
		<script type="text/javascript" src="/js/jquery.min.js" ></script>
		<script src="/js/main2.js"></script>
	</body>
</html> -->

<html>
<head>
<style>
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #3e8e41;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
</style>
</head>
<body>

<p>welcome {{user}}, The other users are :</p>

<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Dropdown</button>
	<div id="myDropdown" class="dropdown-content">
		{% for items in data %}
			<button id = '{{items.user}}' onclick="showmsgs('{{items.user}}')">{{items.user}}</button>
		{% endfor %}
	</div>
</div>
<div id = msgs >
	
</div>

<script type="text/javascript" src="/js/jquery.min.js" ></script>
<script>

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
	document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

	var dropdowns = document.getElementsByClassName("dropdown-content");
	var i;
	for (i = 0; i < dropdowns.length; i++) {
	  var openDropdown = dropdowns[i];
	  if (openDropdown.classList.contains('show')) {
		openDropdown.classList.remove('show');
	  }
	}
  }
}

function showmsgs(chosen){
	$.ajax({
		url: '/chatbox',
		type: 'POST',
		data: {'chosen':chosen },
		dataType: 'html',
		success: function(msgs_data){
			$("#msgs").empty();
			$('#msgs').append(msgs_data);
		}
	});
}

</script>

</body>
</html>